*{
    font-family: sans-serif;
}

#wrap{
    margin: auto;
    margin-top: 200px;
    width: 270px;
    /* margin: 30px; */
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 5px 2px 2px rgba(141, 141, 141, 0.3);
}
h1{
    font-size: 1.7rem;
}
ul li{
    line-height: 25px;

}
a{
    margin-top: 20px;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    width : 30px;
    padding : 3px 5px;
    color: black;
    background-color: rgb(169, 169, 169);
    border-radius: 5px;
}


