<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../resources/static/assets/css/list.css">
</head>

<body>
    <div id="wrap">
        <h1>${name}님의 성적 정보</h1>
        <ul>
            <li># 국어: ${kor}</li>
            <li># 영어: ${eng}</li>
            <li># 수학: ${math}</li>
            <li># 총점: ${total}</li>
            <li># 평균: ${average}</li>
            <li># 학점: ${grade}</li>
        </ul>
        <a href="/score/list">목록</a>
    </div>
</body>

</html>